.theme-pc {
  --border-color-button-completed-color: #64748b;
  --border-color-button-disabled-color: #cbd5e1;
  --border-color-button-secondary-enabled-color: #0F766E;
  --border-color-button-secondary-hover-color: #115E59;
  --border-color-button-primary-enabled-color: #334155;
  --border-color-button-primary-hover-color: #1e293b;
}